html {
    font-family: "Teachers";
}
h1 {
    font-family: "Teachers";
    font-size: 90px;
}
h2 {
    font-family: "Montserrat";
    font-size: 40px;
}
p {
    font-family: "Teachers";
    font-size:20px;
}
span {
    font-family: "Montserrat";
    font-size:20px;
}
button {
    font-family: "Teachers";
    font-size:20px;
    border: none;
    height: 50px;
    /*border-radius: 5px;*/
    background-color: #ffde59;
    cursor:pointer;
    padding: 5px 20px 5px 20px;
}
button:hover {
    background-color: #ffeb9b;
}
#navbar {
    width: 100%;
    max-height: 60px;
    min-height: 10%;
    background-color: rgb(45, 45, 45);
    position:fixed;
    top: 0px;
    left: 0px;
    font-size: 30px;
    text-align:center;
    box-shadow: 0px 5px 20px black;
    z-index: 100;
}
.navlink {
    position: relative;
    color:white;
    padding:5%;
    text-decoration: none;
    font-family: "Montserrat";
    top:40%;
}
.centertext {
    text-align: center;
}
.centerelem {
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translateY(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.webwindow {
    width:90%;
    height:80%;
    box-shadow: 0px 0px 100px rgb(200, 200, 200);
    border-radius:50px;
    position:absolute;
    left:5%;
    top:15%;
}

input {
    border-radius:10px;
    border: solid rgb(200, 200, 200) 1px;
    outline:none;height:45px;font-family:Teachers;
    font-size:20px;margin:5px;text-align:center;
    transition: border 0.3s ease;
}
input:focus {
    border: solid rgb(100, 100, 255) 3px;
}
input:not(:focus) {
    border: solid rgb(200, 200, 200) 1px;
}
.sidebar {
    width:25%;
    border:none;
    border-left:solid rgb(100, 100, 100) 2px;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
}